.DS_Store
node_modules/.bin/*
node_modules
yarn-error.log

# data files
server/data/*
server/local-storage

# scripts
start.sh
ui-start.sh

# bundled JS file
docs/bundle.js

# certificate keys etc
*totem.live.*
*fullchain.*
*privkey.*
sslcert/*.csr
sslcert/*.key
sslcert/*.pem